{% extends "snailtracker/snailtracker_base.html" %}

{% load friendly_tags %}
{% block content %}{{block.super}}
<div class="hive_box">
	<div class="tab_header">Snailtracks for {{table}}</div>
	<div class="st_table_pks">
		{% for pk in pks.object_list %}
		<p>
			<a href="{% url snailtracker_view_pk table pk %}">
				{{table}}:{{pk}}
			</a>
		</p>
		{% endfor %}
	</div>
    <div class="pagination">
        {% if pks.has_previous %}
        <a href="?page={{ pks.previous_page_number }}">previous</a>
        {% else %}
        previous
        {% endif %}
        <span class="current">{{ pks.number }} of {{ pks.paginator.num_pages }}</span>
        {%if pks.has_next %}
        <a href="?page={{ pks.next_page_number }}">next</a>
        {% else %}
        next
        {% endif %}
    </div>
</div>
{% endblock %}
