{% extends "snailtracker/snailtracker_base.html" %}

{% load friendly_tags %}
{# include "helpers/_hive_form_includes.html" #}
{% block content %}{{block.super}}
<div class="hive_box">
    {% if snailtrack == None %}
    <div class="tab_header">No snailtracks found!</div>
    {% else %}
    <div class="tab_header">
        Snailtracks for {{snailtrack.table}} #{{snailtrack.primary_key}}
    </div>
    <div id="snailtracker">
        {% for st in snailtrack.fetch %}
        <div class="snailtrack">
            <a name="{{st.action_id}}"></a>
            {% if st.type|slice:"-6:" == 'delete' %}
            <img src="{{MEDIA_URL}}images/delete-20.png" /> 
            <strong>{{st.operator}}</strong> deleted a record on
            {% endif %}
            {% if st.type|slice:"-6:" == 'insert' %}
            <img src="{{MEDIA_URL}}images/big-arrow-down.png" />
            <strong>{{st.operator}}</strong> created a record on
            {% endif %}
            {% if st.type|slice:"-6:" == 'update' %}
            <img src="{{MEDIA_URL}}images/edit-20.png" />
            <strong>{{st.operator}}</strong> changed a record on
            {% endif %}
            <strong>{{st.timestamp|date:"M j, Y @ g:i:s a"}}</strong>
            <small>(<a href="#{{st.action_id}}">permalink</a>)</small>
            <br /><small>Action: {{st.action_id}}</small>
            <p>Type of change: {{st.type}}</p>
            {% if st.type|slice:"0:7" == 'foreign' %}
            <p>Foreign table: {{st.foreign_table}}</p>
            <p>Foreign ID: {{st.foreign_key}}</p>
            {% endif %}
            {% ifnotequal st.type|slice:"-6:" 'delete' %}
                {% ifequal st.type|slice:"-6:" 'insert' %}
                <a href="#{{st.action_id}}" class="insert_message"
                    onClick="return Snailtracker.showInsertTable(this);">Show
                    the values inserted into this record</a>
                <table class="snailtracker_fields insert striped">
                {% else %}
                <table class="snailtracker_fields striped">
                {% endifequal %}
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in st.columns_changed %}
                        <tr>
                            <td class="field">{{c}}</td>
                            <td class="old">{{st.post_init_snap|value_of:c}}</td>
                            <td class="new">{{st|value_of:c}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <a href="#{{st.action_id}}" class="delete_message"
                    onClick="return Snailtracker.showDeleteTable(this);">Show what this record looked like
                    before being deleted</a>
                <table class="snailtracker_fields delete striped">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f,v in st.post_init_snap.iteritems %}
                        <tr>
                            <td>{{f}}</td>
                            <td>{{v}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endifnotequal %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
